.warning {
  font: bold 1.2em sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(172, 55, 146);
  text-align: center;
  text-decoration: rgb(172, 55, 146) underline solid;
  animation: warningFade 3s forwards;
}

@keyframes warningFade {
  0% {
    opacity: 0.1;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loginRedirect {
  /* background-image: linear-gradient(to right, #ffd54f, #d500f9); */
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  margin-left: 3px;
  margin-top: 3px;
  text-shadow: 1px 1px 1px rgb(172, 55, 146);
  text-align: center;
}

.loginRedirect span {
  font-weight: bold;
}

.loginRedirect:hover {
  animation: move 5s infinite forwards;
  animation-timing-function: cubic-bezier();
  /* font-weight: bold; */
}

.card {
  border-radius: 0;
  border: none;
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px;
  background: #fff;
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

#logo {
  width: 70px;
  height: 60px;
}

.heading {
  margin-bottom: 60px !important;
}

.formControlLabel {
  font-size: 12px;
  margin-left: 15px;
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px;
}

.btnColor {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #ffd54f, #d500f9);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px;
}

/* .btnColor:hover {
  color: #fff;
  animation: scaleSize 1s forwards;
}

@keyframes scaleSize {
  0% {
    width: 100%;
  }

  100% {
    width: 90%;
  }
} */

.btnColor:hover {
  animation: move 5s infinite forwards;
  animation-timing-function: cubic-bezier();
  /* font-weight: bold; */
}

.btnWhite {
  border-radius: 50px;
  color: #d500f9;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #d500f9 !important;
}

.btnWhite:hover {
  color: #fff;
  background-image: linear-gradient(to right, #ffd54f, #d500f9);
  animation: move 5s infinite forwards;
  animation-timing-function: cubic-bezier();
  /* font-weight: bold; */
}

.bottom {
  width: 100%;
  margin-top: 50px !important;
  display: flex;
}

.smText {
  font-size: 15px;
  align-self: center;
}
@keyframes move {
  0% {
    /* transform: translateX(0px); */
    transform: scale3d(1, 1, 1);
  }
  30% {
    /* transform: translateX(0px); */
    transform: scale3d(1.1, 1.1, 1);
  }

  60% {
    /* transform: translateX(0px); */
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 992px) {
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px;
  }

  .card2 {
    padding: 50px;
    width: 100%;
  }

  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px !important;
  }

  .card2 {
    padding: 50px;
  }

  .right {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
}
