.header {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
}
.threeLineBtn {
  display: none;
  margin: auto 2px;
}
.threeLineBtn img {
  height: 40px;
  width: 40px;
}
.menuBtnCustom {
  margin: 1px;
  margin-left: 5px;
  padding: 5px;
  list-style: none;
  background: rgb(255, 255, 255);
  border-radius: 20%;
  border: 2px solid #16a085;
}
.menuBtnCustom li {
  border-radius: 20%;
  margin: 2px;
  width: 40px;
  height: 10px;
  background-image: linear-gradient(132deg, #eed77a 0%, #16a085 100%);
}
.menuBtnCustom li:hover {
  background-image: linear-gradient(132deg, #f0ebd7 0%, #069c7e 100%);
}

.menuBtnCustom:hover {
  background: rgb(255, 255, 255);
}
.heading {
  text-align: center;
  margin: 10px;
}
.logo {
  margin-left: 25px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
.settingsList {
  margin: auto 0px;
  column-gap: 10px;
  margin-left: auto;
}
.settingsList li {
  padding: 5px;
  margin: 1px;
  box-shadow: 2px 2px 5px black;
}

.top-container {
  background-color: #cef1ec;
  position: relative;
}
.navv {
  margin-top: 50px;
}
.bottom-container {
  background-color: #32bbd3;
  padding: 50px 0 20px;
  text-align: center;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.homecard {
  background-color: white;
  color: #272727;
  padding: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 0px;
  border-color: rgb(206, 184, 180);
  border-style: solid;
  transition: 200ms;
  min-height: 100%;
}

.img {
  width: 100%;
  opacity: 0.7;
  max-height: 600px;
}
.card {
  background-color: white;
  color: #272727;
  padding: 20px;
  align-self: center;
  border-radius: 10px;
  border: 0px;
  border-color: rgb(206, 184, 180);
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
  display: inline;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}

.card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: tomato;
  border-radius: 50%;
  margin: 10px;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  color: white;
  justify-content: center;
}

.letter {
  vertical-align: middle;
}

.card-title-group {
  justify-content: center;
}

.card-title {
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
}
.card-date {
  flex: 0.3;
  font-size: small;
  margin-top: 0;
}

.card-image {
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;

  margin-top: 10px;
}
.card-like-icon {
  height: 25px;
}

.card-text {
  width: 350px;
  font-size: medium;
}

.card-like-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.like-text {
  font-size: small;
  margin-left: 10px;
}
.booklist {
  grid-template-columns: repeat(2, 1fr);
  /* align-items: start; */
}
.footer-link {
  padding: 5px;
}

.mdbCustom {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 570px) {
  .settingsList {
    display: none;
  }

  .threeLineBtn {
    display: inline;
  }

  .logo {
    margin-left: 15px;
  }
}
