.remove_underline {
  text-decoration: none;
}

.container {
  background: rgb(255, 255, 255);
}

.top-container {
  /* background-color: #a4ccb5; */
  background: rgb(238, 232, 232);
  position: relative;
}
.maindiv {
  background: rgb(238, 232, 232);
  padding-bottom: 300px;
}
.bottom-container {
  /* background-color: #32bbd3;*/
  background: linear-gradient(to left, #e6b65c, #fdc830);
  padding: 50px 0 20px;
  text-align: center;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.homecard {
  color: #272727;
  padding: 20px;
  align-self: stretch;
  border-radius: 20px;
  border: 0px;
  border-color: rgb(206, 184, 180);
  border-style: solid;
  transition: 200ms;
  min-height: 100%;
  background: rgb(255, 255, 255);
}
.homecard:hover {
  box-shadow: 0 2px 20px 0 #ccd2d8;
  /* position: relative;
  top: 5px;
  right: 5px; */
}
.img {
  position: relative;
  background: rgb(3, 8, 4);
  display: flex;
  justify-content: center;
}
.img img {
  position: relative;
  width: 75%;
  opacity: 1;
}

.quote1 {
  position: absolute;
  left: 10px;
  top: 10px;
  animation: move 10s 1;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgb(92, 5, 5);
}
.quote2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  animation: move 10s 1;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgb(92, 5, 5);
}
.img h4 {
  max-width: 20%;
}

@keyframes move {
  0% {
    transform: translateX(5%);
    right: 0%;
    opacity: 0.1;
  }
  20%,
  100% {
    transform: translateX(7%);
    right: 10%;
    opacity: 1;
  }
}

.footer-link {
  padding: 5px;
}

.mdbCustom {
  margin: 120px;
  margin-bottom: 0px;
  padding: 20px;
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.mdbCustom a {
  flex-basis: 275px;
}

@media screen and (max-width: 600px) {
  .img h4 {
    font-size: 20px;
  }

  .img img {
    width: 100%;
  }
}
